html {
	font-size: 10px;
}
html, body {
	height: 100%;
}
body {
    line-height: 3rem;
    height: 100%;
}


.intro{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    width: 100%;
	height: 100%;
}

.intro-content {
	display: block;
    text-align: center;
    margin-top: 20px;
}

.intro .intro-content img{
    width: 150px;
    height: 150px;
}

.intro .intro-content h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 20px;
}

.intro .intro-content h3{
	color:rgb(255, 166, 0);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 2rem;
}

.intro .intro-email {
    display: block;
    margin-top: 15px;
}

.intro .intro-email div {
    display: inline-block;
}

.intro-email div a {
	color:black;
}

.intro .intro-email .email-logo{
    font-size: 2rem;
}

.email-logo a {
    color: black;
}

.mail-write{
    color: black;
    font-size: 2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.intro-social {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.intro-social div{
    display: inline-block;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 0rem;
}

.intro-social .social-item {
    font-size: 4rem;
}

.intro-social .social-item a{
    color: orange;
}

.intro-menu {
    display: block;
}

.intro-menu div{
	display: inline-block;
	margin-top: 3rem;
	margin-bottom: 0rem;
	margin-left: 5rem;
	margin-right:5rem;
	text-align: center;
}

.intro-menu .menu-item a{
    font-size: 8rem;
	color: orange;
	display: inline-block;
}

.intro-menu div a span{
	color: black;
	display: block;
	font-size: 1.5rem;
	font-family: monospace;
	font-weight: bolder;
}

.popoverd {
	color: orangered;
	font-family: monospace;
}

.popover{
	min-width: 50%;
}

.intro-quote{
    display: block;
    font-size: large;
}
.intro-quote div{
	display: inline-block;
	font-size: 8rem;
	margin: 15px 0px 0px 0px;
}
.intro-quote div a{
    color: white;
}
.intro-quote li a:hover{
    color: blue;
}

.blink {
	animation: blink 2s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;	
		color: red;
	}
}
@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}


@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
	

}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
	.intro{
		display: table;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	
	.intro-content {
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	
	.intro .intro-content img{
		width: 100px;
		height: 100px;
	}
	
	.intro .intro-content h1{
		font-family: 'Courier New', Courier, monospace;
		font-weight: bolder;
		font-size: 2.5rem;
		margin-top: 20px;
	}
	
	.intro .intro-content h3{
		color:rgb(255, 166, 0);
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-size: 1.5rem;
	}
	
	.intro .intro-email {
		display: block;
		margin-top: 15px;
	}
	
	.intro .intro-email div {
		display: inline-block;
	}
	
	.intro-email div a {
		color:black;
	}
	
	.intro .intro-email .email-logo{
		font-size: 1.5rem;
	}
	
	.email-logo a {
		color: black;
	}
	
	.mail-write{
		color: black;
		font-size: 1.5rem;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	}
	
	.intro-social {
		display: block;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	
	.intro-social div{
		display: inline-block;
		margin-top: 2rem;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 0rem;
	}
	
	.intro-social .social-item {
		font-size: 3rem;
	}
	
	.intro-social .social-item a{
		color: orange;
	}
	
	.intro-menu {
		display: block;
	}
	
	.intro-menu div{
		display: inline-block;
		margin-top: 3rem;
		margin-bottom: 0rem;
		margin-left: 3rem;
		margin-right:3rem;
		text-align: center;
	}
	
	.intro-menu .menu-item a{
		font-size: 5rem;
		color: orange;
		display: inline-block;
	}
	
	.intro-menu div a span{
		color: black;
		display: block;
		font-size: 1rem;
		font-family: monospace;
		font-weight: bolder;
	}
	
	.popoverd {
		color: orangered;
		font-family: monospace;
	}
	
	.popover{
		min-width: 50%;
	}
	
	.intro-quote{
		display: block;
		font-size: large;
	}
	.intro-quote div{
		display: inline-block;
		font-size: 5rem;
		margin: 15px 0px 0px 0px;
	}
}


@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}

	.intro{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	
	.intro-content {
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	
	.intro .intro-content img{
		width: 100px;
		height: 100px;
	}
	
	.intro .intro-content h1{
		font-family: 'Courier New', Courier, monospace;
		font-weight: bolder;
		font-size: 2.5rem;
		margin-top: 20px;
	}
	
	.intro .intro-content h3{
		color:rgb(255, 166, 0);
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-size: 1.5rem;
	}
	
	.intro .intro-email {
		display: block;
		margin-top: 15px;
	}
	
	.intro .intro-email div {
		display: inline-block;
	}
	
	.intro-email div a {
		color:black;
	}
	
	.intro .intro-email .email-logo{
		font-size: 1.5rem;
	}
	
	.email-logo a {
		color: black;
	}
	
	.mail-write{
		color: black;
		font-size: 1.5rem;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	}
	
	.intro-social {
		display: block;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	
	.intro-social div{
		display: inline-block;
		margin-top: 2rem;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		margin-bottom: 0rem;
	}
	
	.intro-social .social-item {
		font-size: 2.5rem;
	}
	
	.intro-social .social-item a{
		color: orange;
	}
	
	.intro-menu {
		display: block;
	}
	
	.intro-menu div{
		display: inline-block;
		margin-top: 3rem;
		margin-bottom: 0rem;
		margin-left: 3rem;
		margin-right:3rem;
		text-align: center;
	}
	
	.intro-menu .menu-item a{
		font-size: 5rem;
		color: orange;
		display: inline-block;
	}
	
	.intro-menu div a span{
		color: black;
		display: block;
		font-size: 1rem;
		font-family: monospace;
		font-weight: bolder;
	}
	
	.popoverd {
		color: orangered;
		font-family: monospace;
	}
	
	.popover{
		min-width: 50%;
	}
	
	.intro-quote{
		display: block;
		font-size: large;
	}
	.intro-quote div{
		display: inline-block;
		font-size: 5rem;
		margin: 15px 0px 0px 0px;
	}
}